<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.dolphinscheduler.flink.monitor.mapper.FlinkJobRecordMapper">
    <resultMap id="FlinkJobRecordMap" type="org.apache.dolphinscheduler.flink.monitor.entity.FlinkJobRecord">
        <id column="id" property="id"/>
        <result column="flink_job_id" property="flinkJobId"/>
        <result column="job_name" property="jobName"/>
        <result column="flink_rest_url" property="flinkRestUrl"/>
        <result column="status" property="status"/>
        <result column="monitor_owner" property="monitorOwner"/>
        <result column="monitor_lease_expire_time" property="monitorLeaseExpireTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryByIdSlot" resultMap="FlinkJobRecordMap">
        select id,
               flink_job_id,
               job_name,
               flink_rest_url,
               status,
               monitor_owner,
               monitor_lease_expire_time,
               update_time
        from t_flink_job_record
        where status in
        <foreach collection="statuses" item="status" open="(" close=")" separator=",">
            #{status}
        </foreach>
          and floor(id / #{idStep}) % #{totalSlot} = #{currentSlotIndex}
        order by id asc
        limit #{fetchNumber}
    </select>

    <update id="acquireLease">
        update t_flink_job_record
        set monitor_owner = #{instanceId},
            monitor_lease_expire_time = #{leaseExpireTime}
        where id = #{jobId}
          and (
              monitor_owner is null
              or monitor_owner = #{instanceId}
              or monitor_lease_expire_time is null
              or monitor_lease_expire_time &lt; #{now}
          )
    </update>

    <update id="updateStatus">
        update t_flink_job_record
        set status = #{status},
            update_time = #{now}
        where id = #{jobId}
    </update>
</mapper>
